mixin pattern_item_type_header(item_type, item_title)
    header.bsk-page-header.bsk-page-header-stacked
        h1
            small.bsk-text-capitalize #{item_type}
            br
            | #{item_title}
