extends ../../../../views/bas-style-kit/bsk--service-unavailable-basic.pug

block append variables
  - attributes.site_title = 'BAS Style Kit Pug Templates';
  - attributes.site_description = 'A set of Pug templates implementing the BAS Style Kit';
  - bsk_attributes.site_development_phase = 'experimental';
