extends ../../../../views/bas-style-kit/bsk--start.pug

block append variables
  - attributes.site_title = 'BAS Style Kit Pug Templates';
  - attributes.site_description = 'A set of Pug templates implementing the BAS Style Kit';
  - bsk_attributes.site_nav_brand_text = 'BAS Style Kit Pug Templates';
  - bsk_attributes.site_development_phase = 'experimental';
  - pattern_attributes.call_to_action_href = '#'
  - pattern_attributes.call_to_action_variant = 'sign-in-microsoft'

block pattern_content_uses
  ul
    li access some information
    li perform an action
    li etc.

block pattern_content
  section.bsk-more-information
    h2.bsk-h3 More information
    p See the #[a(href='#') Sample Service] on GitLab for information on how to use this service.
    p Contact the #[a(href='#') IT Service Desk] if you are unable to sign in.
