extends ../../../../views/bas-style-kit/bsk--problem-with-service.pug

block append variables
  - attributes.site_title = 'BAS Style Kit Pug Templates';
  - attributes.site_description = 'A set of Pug templates implementing the BAS Style Kit';
  - bsk_attributes.site_nav_brand_text = 'BAS Style Kit Pug Templates';
  - bsk_attributes.site_development_phase = 'experimental';

block pattern_content
  p You can #[a(href='#') another service] to access general or related information.
  p Contact the #[a(href='mailto:team@example.com') Example team] for more information.
