extends ../../../../layouts/bas-style-kit/bsk--standard.pug

block append variables
  - attributes.site_title = 'BAS Style Kit Pug Templates';
  - attributes.site_description = 'A set of Pug templates implementing the BAS Style Kit';
  - attributes.site_styles.push({href: 'https://cdn.web.bas.ac.uk/libs/font-awesome-pro/5.13.0/css/all.min.css', integrity: 'sha256-DjbUjEiuM4tczO997cVF1zbf91BC9OzycscGGk/ZKks='})
  - bsk_attributes.site_development_phase = 'experimental';

include ../../../../mixins/bas-style-kit/bsk--pattern--orcid-id.pug

block main_content
    p
      +pattern_orcid_id('https://sandbox.orcid.org/0000-0001-8373-6934')
    p: a(href='../../') back to index
