extends ../../layouts/bas-style-kit/html.pug

block append variables
  - attributes.site_title = 'BAS Style Kit Pug Templates';
  - attributes.site_description = 'A set of Pug templates implementing the BAS Style Kit';

block main_content
  header
    h1 BAS Style Kit - Pug templates
    p This index uses the #[em html] layout and is otherwise intentionally unstyled.

  section
    h2 Layouts

    ul
      li: a(href='./layouts/bas-style-kit/blank.html') Blank
      li: a(href='./layouts/bas-style-kit/html.html') HTML
      li: a(href='./layouts/bas-style-kit/bsk--base.html') BAS Style Kit - Base
      li: a(href='./layouts/bas-style-kit/bsk--standard.html') BAS Style Kit - Standard

  section
    h2 Patterns

    h3 Pages
    ul
      li: a(href='./views/bas-style-kit/bsk--page-not-found.html') Page not found
      li
        | Service unavailable
        ul
          li: a(href='./views/bas-style-kit/bsk--service-unavailable-basic.html') Service unavailable (basic)

  section
    h2 Features

    ul
      li: a(href='./features/custom-development-phase.html') Custom development phase banner
      li: a(href='./features/custom-main-content-classes.html') Custom main content section classes
      li: a(href='./features/custom-inline-js.html') Custom inline JS added after site scripts
      li: a(href='./features/icons-disabled.html') Icons disabled
      li: a(href='./features/icons-enabled.html') Icons enabled
      li: a(href='./features/favicon-disabled.html') Favicon disabled

  section
    h2 Variables

    table
      thead: tr
        th Variable
        th Value
      tbody
        tr
          td: code bsk_variables.templates_version
          td #{bsk_variables.templates_version}
        tr
          td: code bsk_variables.bsk_version
          td #{bsk_variables.bsk_version}
