extends ./html.pug

block append variables
  - var bsk_attributes = {};
  - bsk_attributes.site_favicon = 'default';
  - bsk_attributes.container_class = 'bsk-container';
  - attributes.main_content_classes.push(bsk_attributes.container_class);
  - attributes.site_styles.unshift({href: 'https://cdn.web.bas.ac.uk/bas-style-kit/' + bsk_variables.bsk_version + '/css/bas-style-kit.min.css', integrity: 'sha256-CIM+E9YZgr1hUKQ98wzF/USoPd7OBQl9Y6bWEk0Dqlc='})
  - attributes.site_scripts.unshift({href: 'https://cdn.web.bas.ac.uk/bas-style-kit/' + bsk_variables.bsk_version + '/js/bas-style-kit.min.js', integrity: 'sha256-IGaRkrHf/T62GN0E75YL3iLtvmbifinJXfSo8GohRB0='})
  - attributes.site_scripts.unshift({href: 'https://cdn.web.bas.ac.uk/libs/js-cookie/2.2.1/js/js.cookie-2.2.1.min.js', integrity: 'sha256-MdF5lmO7tgKSFNkLp9uc3HJfoCwW1LCQrdNyHkQji2s='})
  - attributes.site_scripts.unshift({href: 'https://cdn.web.bas.ac.uk/libs/jquery/3.6.0/js/jquery-3.6.0.min.js', integrity: 'sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='})

block append pre_head_styles
  include ../../includes/bas-style-kit/bsk--head--favicon.pug
