extends ./blank.pug

block append variables
  - var attributes = {};
  - attributes.main_content_classes = [];
  - attributes.site_title = 'site title';
  - attributes.site_description = 'site description';
  - attributes.site_favicon_url = 'data:;base64,iVBORw0KGgo=';
  - attributes.site_back_to_top_target_id = 'site-top';
  - attributes.site_main_content_target_id = 'site-main-content'
  - attributes.site_styles = [];
  - attributes.site_scripts = [];
  - attributes.site_analytics = [];

block content
  doctype html
  html
    head(lang="en-GB")
      block head
        include ../../includes/bas-style-kit/head.pug
    body
      block body
        include ../../includes/bas-style-kit/body.pug
