extends ../../layouts/bas-style-kit/bsk--standard.pug

block append variables
  - attributes.main_content_classes.push('bsk-pattern-service-unavailable');

block main_content  
  h1.bsk-page-header Service unavailable
  p.bsk-lead You will be able to use the service later.
