extends ../../layouts/bas-style-kit/bsk--standard.pug

block append variables
  - attributes.main_content_classes.push('bsk-pattern-problem-with-service');

block main_content  
  h1.bsk-page-header Sorry, there is a problem with this service
  p.bsk-lead Please try again later.

  block pattern_content
