extends ../../layouts/bas-style-kit/bsk--standard.pug

block append variables
  - var pattern_attributes = {};
  - attributes.main_content_classes.push('bsk-pattern-service-unavailable');

block main_content  
  h1.bsk-page-header Sorry, #{ bsk_attributes.site_nav_brand_text } is unavailable
  if pattern_attributes.availability
    unless pattern_attributes.availability == 'closed' || pattern_attributes.availability == 'replaced'
      p.bsk-lead #{ pattern_attributes.availability }
    else
      p.bsk-lead This service has been #{ pattern_attributes.availability } and can no longer be used.
  else
    p.bsk-lead You will be able to use the service later.

  block pattern_content
