extends ../../../layouts/bas-style-kit/html.pug

block append variables
  - attributes.site_title = 'BAS Style Kit Pug Templates';
  - attributes.site_description = 'A set of Pug templates implementing the BAS Style Kit';
  - attributes.site_scripts.push({href: 'https://cdn.web.bas.ac.uk/js-libs/jquery-3.3.1.min.js', integrity: 'sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='})

block main_content
  | test content, open the console to see if the jQuery version is logged - #[a(href='../../') back to index].

block append scripts
  script.
    console.log('jQuery version: ' + jQuery.fn.jquery);
