include ./body--back-to-top.pug

block pre_main_content

block main_content_container
  main#site-main-content(class=attributes.main_content_classes)
    block main_content

block post_main_content

block scripts
  include ./body--core-scripts.pug
  if attributes.site_analytics.id
    include body--analytics-script.pug
  //- Use 'block append scripts' in templates inheriting from this layout to include other scripts
