//- Anchor for back to top links
div(id='#' + attributes.site_back_to_top_target_id)

//- Ensure you add the 'site-content' ID to a suitable element somewhere for this link to work
a.bsk-sr-only.bsk-sr-only-focusable(href='#' + attributes.site_main_content_target_id) Skip to main content
