footer.site-footer
    div.bsk-footer.bsk-footer-default
        div(class=bsk_attributes.container_class)
            include ./bsk--footer--is-something-wrong.pug
            include ./bsk--footer--back-to-top.pug
            div.bsk-footer-divider(role='separator')
            include ./bsk--footer--governance.pug
            include ./bsk--footer--legal-policies.pug
