div.bsk-footer-policy-links
    ul.bsk-list-inline
        li: a(href=bsk_attributes.site_footer_policies_cookies_href) Cookies
        li: a(href=bsk_attributes.site_footer_policies_copyright_href) Copyright
        li: a(href=bsk_attributes.site_footer_policies_privacy_href) Privacy
    | #{(new Date()).getFullYear()} British Antarctic Survey
