head
  include ./head--core-metadata.pug
  include ./head--seo-metadata.pug

  block pre_head_styles

  block styles
    include ./head--core-styles.pug
    //- Use 'block append styles' in templates inheriting from this layout to include other styles
