div.bsk-footer-governance
    | The #[a(href='https://www.bas.ac.uk') British Antarctic Survey] (BAS) is part of #[a(href='https://www.ukri.org') UK Research and Innovation] (UKRI)
    div.bsk-footer-ogl
        div.bsk-ogl-symbol: a(href=bsk_attributes.site_footer_ogl_symbol_a_href rel='license') #[span.bsk-ogl-symbol Open Government Licence]
        | All content is available under the #[a(href=bsk_attributes.site_footer_ogl_text_href rel='license') Open Government Licence], #{site_footer_ogl_text_version} except where otherwise stated
