button.bsk-navbar-toggle.bsk-collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse' aria-expanded='false')
    span.bsk-sr-only Toggle navigation
    span.bsk-icon-bar
    span.bsk-icon-bar
    span.bsk-icon-bar
