extends ../../../layouts/bas-style-kit/bsk--standard.pug

block append variables
  - attributes.site_title = 'test title';
  - attributes.site_description = 'test description';
  - bsk_attributes.site_nav_primary.push({title: 'Item', href: '#'});
  - bsk_attributes.site_nav_primary.push({title: 'Dropdown', items: [{title: 'Sub-item 1', href: '#'}]})
  - bsk_attributes.site_nav_secondary.push({title: 'Item 2', href: '#'})
  - bsk_attributes.site_nav_secondary.push({title: 'Dropdown', items: [{title: 'Sub-item 2', href: '#'}]})

block main_content
  | test content
