extends ../../../layouts/bas-style-kit/bsk--standard.pug

block append variables
  - attributes.site_title = 'test title';
  - attributes.site_description = 'test description';

block main_content
  | test content
